.profile {
 width: 150px;
 border-radius: 100px
}
#No1 {
background: linear-gradient(cyan, blue);
    height: 450px;
}
h1, p {
 color: white;
}
h1 {
    font-family: Yomogi;
}
body {
 text-align: center;
 font-family: calibri;
}
.line {
    height: 5px;
    background-color: black;
    width: 70%;
    margin: 8px auto;
}
p {
 font-size: 20px;
 font-family: 'Varela Round', sans-serif;
 font-weight: bold;
}
#No3 {
 background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, purple);
}
#menu {
    background: linear-gradient(to right, #00c3ff, #ffff1c);
}
.Menu {
    z-index: 10;
    right: 15px;
    list-style: none;
    font-family: Calibri;
    position: absolute;
    bottom: 5px;
    cursor: pointer;
}
.links {
    float: left;
    color: black;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: Calibri;
    font-size: 20px;
    font-weight: bold;
}
.links:hover  {
    background-color: darkblue;
    color: white;
}